<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Homepage</title>
</head>
<style>
 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 254px;
    height: 180px;
  }
  h2 {
    text-align: center;
    color: aliceblue;
  }

  body  {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTea9dpSkbrBCEVbQTE_MnU2ENecSTCVeakuw&usqp=CAU");
    background-color: #FFEFD5;
  }
 
</style>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HISTOGRAM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</span></a>
          <a class="nav-item nav-link" href="/post">My Post</a>
          <a class="nav-item nav-link" href="/detailuser/<%= currentUser%>"> Detail User</a>
        </div>
      </div>
    </nav>
  </div>
    <div>
      <br><br><br>
      <h2>YOUR POST DETAIL</h2>
      <br>
     
      <form action="">
        <div class="container" style=" width: 23%;">
          <div class="row align-items-start">
            <% data.forEach(e => {%> 
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=e.imageURL%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= e.title%></h5>
                            <p class="card-text"><%=e.content%></p>
                            <p class="card-title"> Like : <%= e.like%> </p>
                            <p></p>
                            <br>
                            <p>Post By: <%= e.User.userName%> - <%= time(e.createdAt)%> </p>
                            <% if (!currentUser===e.User.id) { %>
                              <a href="/post/detail/<%= e.id%>/like">LIKE</a>
                              <% }%>
                              <% if (currentUser===e.User.id||role==='admin') { %>
                                <a href="/post/detail/<%= e.id%>/edit">Edit</a>
                              <a href="/post/detail/<%= e.id%>/delete">Delete My Post</a>
                              <% }%>
                        </div>
                      </div>
                </div>
             </div>
            <%})%>
          </div><br><br>
        </div><br>
      </form><br>
    </div>  
</body>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"
></script>
</html>